<body>
    <div class="f-info">
<div class="f-info-sites">
   &copy; WanderLust  &nbsp;&nbsp;
    <a href="/privacy">Privacy</a>
     <a href="/terms">Terms</a></div>
     <div class="f-info-social">
        <a href=""><i class="fa-brands fa-facebook">
        </i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
   
</div>
    </div>
</body>