
 
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-md-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/listings">Listing</a>
        <a class="nav-link active" href="/listings/new">Add New Listings</a>
       
      </div>
    </div>
  </div>
</nav>