<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h5>Add New Listing</h5>
    <div class="row">
        <div class="col-8 offset-2">
        <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
<lable for="title" class="form-label">Title</lable>
        <input type="text" name="Listing[title]" class="form-control" placeholder="Enter new title" required>
        <div class="valid-feedback">Looks Good</div>
        
        </div>
        <div class="mb-3">
  <lable for="description" class="form-label">Description</lable>
        <textarea type="text" name="Listing[description]" class="form-control" placeholder="Enter new description" required></textarea>
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">This field is Mendatory</div>
        </div>
        <div class="row">
 <div class="mb-3 col-md-4">
<lable for="price" class="form-label">Price</lable>
        <input type="number" name="Listing[price]" class="form-control" placeholder="Enter new price" required>
            <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">This field is Mendatory</div>
        </div>
                <div class="mb-3 col-md-8">
 <lable for="location" class="form-label">Location</lable>
                <input type="text" name="Listing[location]" class="form-control" placeholder="Enter new location" required>
                    <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">This field is Mendatory</div>
    </div>
        </div>
       
     <div class="mb-3">
<lable for="country" class="form-label">Country</lable>
        <input type="text" name="Listing[country]" class="form-control" placeholder="Enter new country" required>
            <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">This field is Mendatory</div>
            </div>  
            <div class="mb-3">
<lable for="Image" class="form-label">Image</lable>
        <input type="text" name="Listing[image][url]" class="form-control" placeholder="Enter new image url">
            </div>  
             
<button class="btn btn-dark">
    Submit
</button>
    </form>
    </div>
    </div>
</body>


