<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
        <div class="col-8 offset-2">
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
<lable for="username" class="form-label">Username</lable>
        <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
        <div class="valid-feedback">Looks Good</div>
            </form>
            </div>
            </div>